<div class="row">
	<div class="col-md-12">
		<div id="about">
		<h3>About Us</h3>
		<span style="display:block; text-align:center"> <a href="https://twitter.com/share" class="twitter-share-button" data-text="SF Elec Data Viz" data-size="large" data-count="none" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></span>
		<p>This project is part of <a href="http://codeforsanfrancisco.org/">Code for America's SF Brigade</a> initiatives. </p>
		<p>This app was developed by <a href="http://ajmobidesign.com">Asha John</a>, <a href="https://www.linkedin.com/profile/view?id=99742621">Peter Hall</a> and SE. We are a group of volunteers who come together every week to work on Civic-tech projects. 

			We would like to thank <a href="http://danitadelce.com/">Danita Delce</a>, who initiated this project. We would also like to thank Steve Massey and Jesse Mainardi at the <a href="http://www.sfethics.org/">SF Ethics Commission</a> for their efforts in making this project possible.</p>
		
		</div>
	</div>
</div>
