<div>
<div id="details" class="text-block " >

    <h2>{{(fullSum[0].filer_naml).toLowerCase()}}</h2>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor vitae leo suscipit pellentesque. Aenean egestas varius orci. Aenean posuere tellus sed velit tincidunt scelerisque. 
  </p>
  </div>

<div ng-include src="'views/steam.html'" ></div>
<!--
<div ng-include src="'views/summary.html'" ></div>
-->
<div ng-include src="'views/scha.html'" ></div>
<!--
<div ng-include src="'views/map.html'" ></div>
-->
<div ng-include src="'views/paid.html'" ></div>
<div ng-include src="'views/footer.html'"></div>
</div>