  <div class="text-block data ">
    
    <strong>Data notes:</strong>
    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor vitae leo suscipit pellentesque. Aenean egestas varius orci. Aenean posuere tellus sed velit tincidunt scelerisque. Curabitur non nulla ut ex pretium iaculis. Maecenas ut orci vitae leo posuere fringilla in id magna. Nullam at convallis turpis. Fusce sagittis diam diam, in maximus nulla mattis eget. Donec dictum leo sed est malesuada, sed elementum odio feugiat. Nullam nec varius felis. Sed finibus rhoncus neque, vel cursus ex interdum id. Sed viverra est id maximus rutrum. Phasellus sed aliquet urna. Mauris sagittis non enim eu molestie. Integer at scelerisque ligula, vitae aliquet nulla. Phasellus id est est.
<br>
</small>
  </div>