<div id="home" >
<div  class='text-block'>
	<h2>San Francisco Elections 2014</h2>

	

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="col-md-12">
				<h3><small>
				<a href='#candidates'>Board of Supervisors</a>   |  <a href='#props'> Ballot Measures</a>

			</small></h3>


			</div>
			<div class="col-md-8">
				<input type="text" placeholder="Enter a candidate or proposition" class="form-control">
			</div>
			<div class="col-md-4">	
					<button class="btn btn-inverse">SEARCH </button>
			</div>	

			

		</div>

	</div>

</div>

</div>