<div id="home" >
<div  class='text-block'>

	<h2><small>Campaign Funding & Lobbying Data Visualization </small><br>
		San Francisco Elections 2014</h2>

	

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="col-md-12">
				<h3><small>
				<a href='#candidates'>Board of Supervisors</a>   |  <a href='#props'> Ballot Measures</a>

			</small></h3>


			</div>
			
			<script type="text/ng-template" id="customTemplate.html">
			  <a>
			      
			      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
			  </a>	
			</script>
		
			<div class="col-md-8" id="search" >
				
				
				<input type="text" placeholder="Candidate Last Name or Ballot Measure Name" ng-model="selected" typeahead="name for name in searchVals | filter:$viewValue" class="form-control" typeahead-template-url="customTemplate.html">
			
			</div>
			
			<div class="col-md-4">	
					<button ng-click=submit(selected) class="btn btn-inverse">SEARCH </button>
			</div>	
			

			

		</div>

	</div>

</div>

</div>