
<div class="lobby-block">
    <lobby-block data='[moneyLobby, contactLobby]'>
    	<h3>Lobbying and Contribution Data</h3>
    	<span style="display:block; text-align:center"> <a href="https://twitter.com/share" class="twitter-share-button" data-text="SF Elec Data Viz" data-size="large" data-count="none" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></span>
		<p>The table shows all the lobbying contacts and contribution on a given date. Click on a table cell to get more details. As of now it does not include contact with aides only the supervisors themselves.</p>

		<p>Clicking table cell will toggle open/close </p>


		<div id="lobby-legend"></div>
		<div id="lobby-viz"></div>

	
    
   </lobby-block>
</div>
