  <div class="block">
    <div class="title"><p>Where is the money coming from?</p></div>
    <map-block data='schAData'>
    <div class="content">
      <div id="map"></div>
    </div>
    <div class="controls grd" id="map-ctr">

            <div class="notes">
        <small>Looking at the location of the individuals and groups that support a candidates gives a glimpse at the candidate's geographic clout and power base. </small>


      </div>

      <div class="slide-container">
        <div class="slidebox q1">
          <div class="slide-title"> <h4> Nation Wide<span class="arrow-down"></span></h4> </div>
          <div class="slide-content slide-closed ">
            <p><small>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor vitae leo suscipit pellentesque. Aenean egestas varius orci.  </small></p>

          </div>



        </div>
        <div class="slidebox q2">
          <div class="slide-title "> <h4>Within California <span class="arrow-down"></span></h4></div>
          <div class="slide-content slide-closed ">
            <p><small>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor vitae leo suscipit pellentesque. Aenean egestas varius orci.  </small></p>

          </div>



        </div>
        <div class="slidebox q3">
          <div class="slide-title"> <h4>Within Bay Area <span class="arrow-down"></span></h4></div>
          <div class="slide-content slide-open">

            <p><small>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor vitae leo suscipit pellentesque. Aenean egestas varius orci.  </small></p>. 

          </div>


        </div>
        <div class="slidebox q4">
          <div class="slide-title"> <h4>Within District <span class="arrow-up"></span></h4></div>
          <div class="slide-content slide-open ">
            <p><small>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor vitae leo suscipit pellentesque. Aenean egestas varius orci.</small></p>

          </div>
        </div>
      </div>

    </div>
  </map-block>
  </div>