 <div class="block">
    <div class="title"><p>Who is getting paid, how much, and for what?</p></div>
    <paid-block data='schEData'>
    <div class="content" id="ppl-paid"></div>
    <div class="controls grd" >
      <div class="notes">
        <small>
            Campaigns have to report the kinds of services they spend money on. The bubbles on the left show the different groups that are recieving money from the campaign committees.</small>
      </div>
      <div class="slide-container" id="ppl-paid-ctr">
      </div>
    </div>
    </paid>
  </div>