<div class='text-block' ng-controller="BallotsCtrl">
	<h2>Ballot Measures</h2>
	<tabset>
	    
	    <tab ng-repeat="d in ballot_list" heading="{{d.letter}}" active="" disabled="">


	    	<h4>{{d.title}}</h4>
	      
			<p>{{d.about}}</p>
		  	<br>
		  	<!--
			<ol class="" >
				<li ng-repeat="cand in d.cands"><a ui-sref="candidatesNames({name: cand.naml})" >{{cand.namf + " " + cand.naml}} <small class="incm" ng-if="cand.isIncm"> -Incumbent</small></a></li>
			</ol>
		-->
	    </tab>
	    	
  	</tabset>
<div>	