<div class='text-block' ng-controller="BallotsCtrl">
	<h2>Ballot Measures</h2>
	<tabset>
	    
	    <tab ng-repeat="d in ballot_list" heading="{{d.letter}}" active="" disabled="">


	    	<h4>{{d.title}}</h4>
	      
			<p>{{d.about}}</p>
		  	<br>
		  	
			<ol class="prop-for" >Committees in Support

				<li ng-repeat="sup in d.cmt_for">
					<a ui-sref="ballotCmtNames({name: sup.filer_naml[0]})">{{(sup.filer_naml[0]).toLowerCase()}} </a>
				</li>
			</ol>
			<ol class="prop-against" >Committees Against
				<li ng-repeat="ag in d.cmt_against">
					<a ui-sref="ballotCmtNames({name: ag.filer_naml[0]})">{{(ag.filer_naml[0]).toLowerCase()}} </a>
				</li>
			</ol>
		
	    </tab>
	    	
  	</tabset>
<div>	