<div class="block">
    <div class="title "><p>Summary</p></div>
    <summary-block data='sumData'>
    <div class="content" id="summary"></div>
    <div class="controls grd" id="summary-ctr">

      <div class="notes">
        <small>Details of totals raised and spent during each reporting period. </small>

      </div>

      <div class="slide-container">
        <div class="slidebox q1">
          <div  class="slide-title"> <h4>Jan - June 2013 <span class="arrow-down"></span></h4> </div>
          <div class="slide-content slide-closed "></div>

        </div>
        <div class="slidebox q2">
          <div class="slide-title "> <h4>July - Dec 2013 <span class="arrow-down"></span></h4></div>
          <div class="slide-content slide-closed "></div>

        </div>
        <div class="slidebox q3">
          <div class="slide-title"> <h4>Jan - June 2014 <span class="arrow-up"></span></h4></div>
          <div class="slide-content slide-open ">

          </div>
        </div>
      </div>
    </div>
   </summary-block>
</div>
